/**
Author: devinvogue
Date: 06/06/17
Purpose:
**/
/*@import url(css/bootstrap.min.css);*/
/*@import url("bootstrap.min.css")*/
/*.navbar-inverse{
    /*background-color:#146b94;*/
 /*background-color: #21618C      ;
  padding-top:0px;
  padding-bottom: 0;
  margin-top: 0;
  height: 90px;
  margin-bottom: 0;
}*/
.navbar-default{
    background-color: #001C35;
    padding: 40px 15px;
    height: 70px;
    
}
/*.header{
 margin-bottom:0;
 margin-top: 0;
}*/
.navbar-header{
    color: #fff;
   padding-bottom: 0;
    height:70px;
    margin-bottom:0;
  
}
a{
    color: #151515;
      /*color: !important;*/
    /*font-weight: bold;*/
    /*color: #fff;*/
    font-size: 18px;

}
.img-rounded{
    height: 90px;
}
/*.img-circle{
    height: 100px;

}*/

/*
#footer{
    width: 100%;
    float: left;
    height: 100%;
    background-color:#151515;
    color: #696969;
    text-align: center;
    padding: 20px 0;*/


#footer ul li{
    list-style: none;
    display: inline;
}

#headline{
    width: 100%;
    background-color: darkcyan;
    height:250px;
    margin-top: 0;
    float: left;

}
#content{
    height: 100%;
}
.navbar-static-top{
    margin-bottom: 0;
    border-width: 0 0 0;

}
#slider{
    width: 100%;
    height: 800px;
    background-color: blueviolet;
}
.subhead{
    width: 100%;
    height: 500px;
    /*background-color: palegreen;*/

}
#subhead1{
    width: 25%;
    height: 250px;
    background-color: royalblue;
    float: left;
 

}
#subhead2{
    width: 25%;
    height: 250px;
    background-color: purple;
    margin: 0px 25px; 
    float: left;
    
}

#subhead3{
    width: 46.1%;
    height: 500px;
    float: left;
    background-color: gold;
   
}
 #subhead4{
     width: 20%;
     height: 250;
     float: bottom;
     background-color: green;
 }

.contact{
    width: 100%;
    height: 600px;
    /*background-color: violet;*/
}
.img-rounded {
    /*width: 120px;*/
}
#logo{
    float:left;
    margin-left: 0;
    padding-left: 0;
    
}

.contact_us{
    background-color: #093a69;
    width: 100%;
    padding:20px 0;
    text-align: center;
    float:left;
    color:#fff;
    font-weight: bolder;

}

#address{
    float: left;
}
.jumbotron{
    background-color: cornsilk;
    margin-bottom: 0;
    margin-top: 0;
}
.col-sm-4{
    /*padding: 0;*/
}

footer{
    background-color: #001C35;
    width: 100%;
    padding: 100px 40px;
    /*color: #696969;*/
    /*color:  #575C60;*/
    color: #DDD !Important;
    float: left;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color:#575C60;
    }

    body{
        padding: 100px 0;
        background-color: cornsilk;

        /*background-color: #f4f4f2;*/
        /*font: 1.2em/19px "helvetica neue",Helvetica,Arial,Verdana,sans-serif;*/
            /*min-width: 1003px;*/
    }

    .jumbotron,h1{
        color:brown;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }
    .list-inline,li{
        font-size: 18px;
    }
  button{
      /*background-color: royalblue;
      opacity: 1;*/
  }
.btn {
    background-color: #001C55;
    opacity: 1;
    line-height: 10px;
     padding: 10px 21px 10px 5px;
     margin: 5px 10px 5px 0;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #DDD !important;
}
.upheader{
    width: 100%;
    height:100px;
    background-color: darkcyan;
    border-bottom: 5px;
    
}

.downheader{
     width: 200px;
    height: 60px;
    
}
.upheader,img{
    height: 70px;
    align-content: center;
   margin: 1px 5PX;
}